:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
}

.container {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}

.head-main {
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}

.head-main h1 {
  color: var(--VeryDarkMagenta);
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-style: normal;
}

.head-main p {
  color: var(--DarkGrayishMagenta);
  font-family: "League Spartan", sans-serif;
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.04rem;
}

.ratings {
  background-color: var(--LightGrayishMagenta);
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  border-radius: .8rem;
}

.ratings p {
  font-family: "League Sparton", sans-serif;
  font-weight: 600;
  color: var(--VeryDarkMagenta);
  font-size: 0.95rem;
}

.testimonials {
  background-color: var(--VeryDarkMagenta);
  padding: 1.5rem;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: .4rem;
}

.testimonials img {
  border-radius: 50%;
  height: 40px;
  display: inline;
}

.main {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  margin-bottom: .6rem;
}

.bb {
  color: var(--SoftPink);
  font-family: "League Sparton", sans-serif;
  font-size: .9rem;
}

.name {
  color: var(--White);
  font-family: "League Sparton", sans-serif;
  font-weight: 500;

}

.comment {
  color: var(--White);
  font-family: "League Sparton", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

@media screen and (min-width:375px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    display: grid;
    width: 1110px;
    grid-template-columns: 1fr 1fr;
  }
  
  .container-3 {
    grid-column: span 2;
    display: flex;
  }
  .ratings {
    display: flex;
    gap: 1.5rem;
    width: 440px;
    max-width: 440px;
    margin: 1.5rem;
    padding: 1rem 0rem 1rem 2rem;
  }

  .head-main {
    text-align: left;
  }

  .head-main h1 {
    font-size: 3.5rem;
    padding-right: 4rem;
  }

  .head-main p {
    margin-top: 1.5rem;
    padding-right: 4rem;
  }

  .testimonials {
    margin: 1rem;
  }

  #f1 {
    position: relative;
    top: 1rem;
  }

  #f2 {
    position: relative;
    top: 2rem;
  }

  #s1 {
    position: relative;
    left: -1rem;
  }

  #s2 {
    position: relative;
    left: 1rem;
  }
  #s3 {
    position: relative;
    left: 3rem;
  }
}